.price {
  .price__header {
    @extend %headers-gray;
  }
  .price__group {
    padding: 0;
    @media (min-width: $screen-md) {
      flex-direction: column;
    }
    .price__element {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 6px;
      padding-bottom: 16px;
      background: $colorWhite;
      padding-left: $px16;
      border: 1px solid $colorBorderElement;
      @media (min-width: $screen-md) {
        flex-direction: row;
        justify-content: space-around;
        width: 100% !important;
        border: none;
        &:not(:first-child)::after {
          position: absolute;
          content: '';
          width: 95%;
          border-bottom: 1px solid $colorBorderElement;
        }
      }
      .price_dinamic-mobile {
        color: $colorGray;
        font-family: TT Lakes;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        opacity: 0.7;
        @media (min-width: $screen-md) {
          display: none;
        }
      }
    }
    .price__element_width {
      @media (min-width: $screen-md) {
        width: 15%;
        align-self: baseline;
        &:first-child {
          width: 40%;
        }
        .price__btn {
          float: none;
        }
      }
    }
    .price__element_hidden {
      display: none;
      @media (min-width: $screen-md) {
        display: flex;
      }
      p {
        @media (min-width: $screen-md) {
          width: 15%;
          &:first-child {
            width: 40%;
          }
          &:last-child {
            width: 35%;
          }
        }
      }
    }
    .price__btn {
      float: right;
      margin-right: 5%;
      margin-top: -25px;
    }
  }
}

.price__btn {
  border-radius: 16px;
  background: $colorPink;
  width: 119px;
  height: 32px;
  flex-shrink: 0;
  color: $colorWhite;
  border: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: $bold;
}
.goside {
  display: inline-block;
  vertical-align: -8px;
}
