@font-face {
  font-family: 'Lakes';
  src: url(../fonts/AnyConv.com__TTLakes-Regular.woff2),
    url(../fonts/AnyConv.com__TTLakes-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'Lakes';
  src: url(../fonts/TTLakes-Bold.woff2), url(../fonts/TTLakes-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: 'Lakes';
  src: url(../fonts/TTLakes-Medium.woff2), url(../fonts/TTLakes-Medium.woff);
  font-weight: 500;
}
