@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Bold.woff');
  font-weight: 700;
  font-style: normal;
}