.menu {
  display: flex;
  align-items: center;
  overflow: scroll;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  
  &__item a {
    color: var(--grey-text);
    text-decoration: none;
  }

  &__item {
    list-style-type: none;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
      &:hover{
        border: 2px solid var(--border-color);
        border-radius: 6px;
        background-color: var(--white-background);
      }
  }
}

@media screen and (min-width: 768px){
  .menu {
    padding-bottom: 32px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1366px){
  .menu {
    flex-wrap: wrap;
    margin-left: 32px;
    padding-left: 0;
    padding-right: 22px;
  }
}