$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
}
